
<div class="trigger-rule" ng-init="showDelete = false">

    <div>
        Name:
        <input type="text" ng-model="item.name" />
    </div>

    <label class="checkbox" for="{{ 'rule' + item.no + 'checkbox' }}">
        <input ng-model="item.isEnabled" type="checkbox" id="{{ 'rule' + item.no + 'checkbox' }}" />
        <span>Enabled</span>
    </label>

    <select ng-model="item.shouldPrompt">
        <option value="false">Always open url</option>
        <option value="true">Open as confirmation-notification</option>
    </select>

    <select ng-model="item.trigger">
        <option value="incoming_answer">On incoming call answered</option>
        <option value="outgoing_answer">On outgoing call answered</option>
        <option value="call_answer">On any call answered</option>
        <option value="incoming_hangup">On incoming call hung up</option>
        <option value="outgoing_hangup">On outgoing call hung up</option>
        <option value="call_hangup">On any answered call hung up</option>
    </select>

    <div>
        Open url:
        <input type="text" ng-model="item.url" />
    </div>

    <div class="confirmation" ng-show="showDelete">
        <div class="text-center">
            <b>Are you sure?</b>
        </div>
        <div class="options">
            <button class="green-bg" ng-click="deleteRule(item)">
                Yes
            </button>
            <button class="red-bg" ng-click="showDelete = false">
                No
            </button>
        </div>
    </div>

    <button class="red-bg display-block full-width delete-rule-button" ng-click="showDelete = true" ng-hide="showDelete">
        <i class="fa fa-trash"></i>
        Delete rule
    </button>

</div>