a,
button,
[onclick] {
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #000;
}
table,
th,
td {
  border: 0;
  padding: 0;
  margin: 0;
}
.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.display-flex .flex-1 {
  flex: 1;
}
.no-wrap {
  white-space: nowrap;
}
input,
button,
textarea,
select {
  border: 1px solid #cad0d6;
  border-radius: .25rem;
}
input {
  padding: 5px;
}
button {
  padding: .375rem .75rem;
}
.disclaimer {
  text-align: center;
  font-size: .5rem;
}
button {
  text-align: center;
  background-color: #31775a;
  border-color: #31775a;
  color: #FFF;
}
button:hover {
  color: #e3e2de;
}
.red-bg {
  background-color: darkred;
  border-color: darkred;
}
.green-bg {
  background-color: green;
  border-color: green;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.spacing {
  margin: 10px;
}
.spacing-top {
  margin-top: 10px;
}
.spacing-right {
  margin-right: 10px;
}
.spacing-bottom {
  margin-bottom: 10px;
}
.spacing-left {
  margin-left: 10px;
}
.full-width {
  width: 100%;
}
.confirmation {
  margin: 15px 0;
}
.confirmation .options {
  margin-top: 5px;
  display: flex;
}
.confirmation .options > button {
  flex: 1;
  border-radius: 0;
}
.confirmation .options > button:first-child {
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}
.confirmation .options > button:last-child {
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
}
.trigger-rule {
  border-bottom: 1px solid #000;
}
.trigger-rule:first-child {
  border-top: 1px solid #000;
}
.trigger-rule:not(:first-child) {
  border-top: 0;
}
.trigger-rule input[type=checkbox] {
  width: auto;
}
.trigger-rule .checkbox label {
  position: relative;
  top: -3px;
}
.trigger-rule label {
  font-weight: bold;
}
.trigger-rule .form-group {
  margin: 10px 0;
}
.trigger-rule input {
  width: calc(100% - 12px);
}
.trigger-rule .form-group-inline input,
.trigger-rule .form-group-inline select,
.trigger-rule .form-group-inline textarea {
  margin: 0 5px;
}
input[readonly] {
  background-color: #ebebe4;
}
.delete-rule-button {
  margin: 10px 0;
}
body {
  background-color: #f1f1f1;
  padding: 0;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}
.wrapper .content-container {
  background-color: #fff;
}
.wrapper .header,
.wrapper .content {
  padding: 15px;
}
.wrapper .header {
  background-color: #31775a;
  color: #FFF;
}
.wrapper .header h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .content .import-group {
  margin: 10px 0;
}
.wrapper .content .import-group label {
  font-weight: bold;
}
.wrapper .content .import-group label,
.wrapper .content .import-group input {
  display: block;
  width: 100%;
}
.wrapper .footer {
  margin: 0 auto;
  width: 230px;
  text-align: center;
}